/* ---------------------- default style start ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ADLaM Display", serif;
}
p,
a,
span,
li,
button {
  font-family: "Sora", sans-serif;
}
.primary-heading {
  font-size: clamp(1.875rem, 3.25vw + 0.575rem, 3.5rem);
}
.section-heading {
  font-size: clamp(1.5rem, 1.5vw + 0.9rem, 2.25rem);
}
.card-heading {
  font-size: clamp(1.375rem, 1.25vw + 0.875rem, 2rem);
}
/* ---------------------- default style end ---------------------- */
/* ---------------------- animation style start ---------------------- */
.color-change {
  animation: color-change 2s ease-out infinite alternate both;
}
@keyframes color-change {
  0% {
    color: #1d256b;
  }
  50% {
    color: #1111;
  }
  100% {
    color: #585858;
  }
}

/* ---------------------- animation style end ---------------------- */
